[data-dgtabs] {
    font-family: "lucida grande", sans-serif;
}

[data-dgtabs] [role="tablist"] {
    min-width: 100%;
    border-bottom: 1px solid lightgray;
}

[data-dgtabs] [role="tab"],
[data-dgtabs] [role="tab"]:focus,
[data-dgtabs] [role="tab"]:hover {
    margin-bottom: -1px;
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
}

[data-dgtabs] [role="tab"][aria-selected="true"] {
    border-color: black; 
}

[data-dgtabs] [role="tab"] span.focus {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
}

[data-dgtabs] [role="tab"]:focus-visible span {
    padding: 2px 4px;
    border: 2px solid rgb(36 116 214);
    border-radius: 3px;
}

[data-dgtabs] [role="tabpanel"] {
    min-height: 10em;
    width: 100%;
    overflow: auto;
    display: none;
    opacity: 0;
}

[data-dgtabs] [role="tabpanel"][aria-hidden="false"] {
    display: block;
    opacity: 1;
    transition: opacity 0.3s;
}

@starting-style {
    [data-dgtabs] [role="tabpanel"][aria-hidden="false"] {
        opacity: 0;
    }
}

