*,
*::before,
*::after {
  box-sizing: border-box;
}
[data-dgaccordion] [data-dgaccordion-trigger] {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
[data-dgaccordion] [data-dgaccordion-trigger] .accordion_icon path {
    transition: d 0.3s ease;
}

[data-dgaccordion] [data-dgaccordion-trigger][aria-expanded="true"] .accordion_icon path {
    d: path("M3,7 L7,3 L11,7");
}
[data-dgaccordion] [data-dgaccordion-panel] {
    display: grid; 
    grid-template-rows: 0fr;
    transition: 0.3s grid-template-rows;
}

[data-dgaccordion] [data-dgaccordion-panel][aria-hidden="false"] {
    grid-template-rows: 1fr;
}
[data-dgaccordion] [data-dgaccordion-panel] > :first-child {
    padding-inline: 1rem;
    overflow: hidden;
}